h1{
	color:white;
	font-size: 50pt;
	border-style: solid;
	background-color: black;
}

h2{
	font-size: 30pt;
	border-style: solid
}

.container {
	width: 100%;
}

div.container>div {
	text-align: center;

border-style: solid
}